.container-fluid
  .row-fluid
    .content(ng-class='{"app-hide": !users, "app-show": users}')
      h2.text-error Autenticate Users
      ul.thumbnails.span12
        app-thumbnail(
          ng-repeat='user in users | orderBy:"lastName"'
          id='{{user.id}}'
          title='{{user.firstName}} {{user.lastName}}'
          body='{{user.headline}}'
          picture='{{user.pictureUrl}}'
          get-details='getDetails(id, callback)')
