.container-fluid
  .row-fluid
    .content(ng-class='{"app-hide": !thumbnails, "app-show": thumbnails}')
      .page-header
        h1 Team
      ul.thumbnails.span12
        app-thumbnail(
          ng-repeat='thumbnail in thumbnails | orderBy:"lastName"'
          id='{{thumbnail.id}}'
          title='{{thumbnail.firstName}} {{thumbnail.lastName}}'
          body='{{thumbnail.headline}}'
          picture='{{thumbnail.pictureUrl}}'
          get-details='getDetails(id, callback)')
